@charset "utf-8";

 

* { 
    margin: 0; 
    padding: 0; 
}
 

h1 { 
    color: black; 
    text-decoration: inherit; 
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;

}

.top{
    background-image:url("../images/hello.jpg");
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
    height: 250px;
    border-bottom: 1em solid #9c031f;
}

.top h1{
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 190px;
    color: white;
}
 

#my-id { 
    background-color: #3e112b; 
    font-style: oblique;
    margin-left: 10px;
    padding-left: 10px;
}

h3{
    color: white;  
}
 

.my-class { 
    text-align: center;
    margin: 10px
}

 

.container {
    background-color: #f2a91d;
    border: 2px solid #631042;
    max-width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}